.Login_Main{
  width: 500px;
  height: 600px;
  margin: 50px auto;
  background-color: rgba(220, 240, 220, 0.3);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
}
.Login_Content{
  padding-top : 100px;
  text-align: center;
}
.Login_Table{
  margin : 0 auto;
}
.Login_Head_td{
  height: 150px;
}
.Login_Body_td_left{
  width: 100px;
  height: 50px;
  font-size: 20px;
  /* border: 1px solid black; */
}
.Login_Body_td_right{
  width: 300px;
  height: 50px;
  /* border : 1px solid black; */
}
.Login_body_Input{
  width: 250px;
  height: 30px;
}
.Login_Btn_Div{
  width: 100%;
  height: 100px;
  margin-top: 30px;
}
.Login_Btn{
  width: 100px;
  height: 40px;
  border-radius: 15px;
  margin : 0px 15px;
  border : 0;
  outline: 0;
}
.Login_Fail_Main{
  width: 10%;
  height: 100%;
  z-index: 1;
  /* background-color: rgba(255, 255, 255, 0.1); */
}
.Login_Fail_Main{
  position: absolute;
  width: 100%;
  height: 100%;
  top : 50%;
  left : 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(20, 20, 20, 0.3)
}
.Login_Fail{
  position: absolute;
  top : 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 250px;
  border: 2px solid black;
  text-align: center;
  color : red;
  font-size: 20px;
  background: white;
}

/*
.Login_Input{
  margin : 0 auto;
  font-size: 20px;
}
.Login_Input>tr{
  height: 50px;
}
.Login_Input_text{
  width: 50px;
}
.Login_Input>tr>td>input{
  width: 150px;
  height: 20px
}
 */
