.Test_Main{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color : rgba(0, 0, 0, 0.4);
  z-index: 5;
}
.Test_Top{
  margin-bottom: 50px;
}
.Test_Content{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: white;
  border : 1px solid black;
  text-align: center;
}
.Test_play_question{
  width: 100%;
  height: 30px;
  margin: 30px auto;
  font-size: 30px;
}
.Test_play_answer{
  width: 100%;
  height: 50px;
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
}
.Test_play_answer>input{
  width: 200px;
  height: 30px;
  font-size: 30px;
  text-align: center;
}

.Test_End_Main{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color : rgba(0, 0, 0, 0.4);
  z-index: 7;
}
.Test_End_Content{
  position: absolute;
  left: 50%;
  top:50%;

  transform: translate(-50%, -50%);
  width: 800px;
  height: 90%;
  overflow: scroll;
  background-color: white;
  border : 1px solid black;
  text-align: center;
}
.Test_play_Btn{
  width: 100px;
  height: 30px;
  border-radius: 15px;

  border : 0;
  outline: 0;
}

.Test_play_Msg{
  width: 100%;
  height: 50px;
  font-size: 25px;
  color : red;
  margin : 30px auto;
}

.Test_End_word{
  width: 80%;
  height: 200px;
  border : 1px solid black;
  margin: 10px auto;
  font-size: 20px;
}

.Gage_Test{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  border: 1px solid black;
}

.Gage_Test_Bar{
  width: 0%;
  height: 10px;
  background: red;
  animation-name: gage;
  animation-duration: 3s;
  z-index: 2;
}
.Test_End_Btn{
  width: 100px;
  height: 30px;
  border-radius: 15px;
  margin : 30px auto;
  border : 0;
  outline: 0;
}
@keyframes gage {
  from{
    width: 0%;
  }
  to{
    width: 100%;
  }
}
