.WordBookList_BookList{
  width : 200px;
  height : 100px;
  float: left;
  border: 1px solid black;
  margin-left : 10px;
  margin-right : 10px;
  margin-bottom: 20px;
  line-height: 100px;
  text-align: center;
}
